.file-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 30px;
  border: 1px dashed silver;
  border-radius: 8px;
}

.file-upload input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.preview_img {
  height: 80px;
  width: 80px;
  border: 4px solid silver;
  border-radius: 100%;
  object-fit: cover;
}